name: docker-build

on:
  workflow_dispatch:
  repository_dispatch:
    types: [pr-merged]

env:
  DOCKERHUB_REPO: giterhub/rime-color-scheme-configurator

jobs:
  docker:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setup pnpm
        uses: pnpm/action-setup@v4
        with:
          version: 10
      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 'lts/*'
          cache: 'pnpm'
      - name: Build package
        run: |
          pnpm install
          pnpm run build
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Login to DeckerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          push: true
          context: .
          tags: |
            ${{ env.DOCKERHUB_REPO }}:latest
          platforms: |
            linux/amd64
            linux/386
            linux/arm64
            linux/arm/v7
